<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Magpieinfotech_Banner::parent" title="Banner" module="Magpieinfotech_Banner" sortOrder="100" resource="Magpieinfotech_Banner::parent"/>
		<add id="Magpieinfotech_Banner::banner" title="Magpieinfotech Banner" module="Magpieinfotech_Banner" sortOrder="20" parent="Magpieinfotech_Banner::parent" action="banner/banner" resource="Magpieinfotech_Banner::banner"/>

    </menu>
</config>